NEXT_PUBLIC_API_URL=https://solakuti-1.onrender.com/api
NEXT_PUBLIC_API_TIMEOUT_MS=20000
NEXT_PUBLIC_SITE_URL=https://solakuti.com
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-65J729EGYG
NEXT_PUBLIC_ADSENSE_ADS_ENABLED=false
NEXT_PUBLIC_ADSENSE_SLOT_HOME_MID=4813321477
NEXT_PUBLIC_ADSENSE_SLOT_ARTICLE_MID=1411612607
NEXT_PUBLIC_ADSENSE_SLOT_CATEGORY_MID=7216123530
NEXT_PUBLIC_ADSENSE_SLOT_CATEGORY_SIDEBAR=4589960199
GOOGLE_SITE_VERIFICATION=google-search-console-verification-token
